.container--page
  @extend .contain
  position: relative
  margin-left: auto
  margin-right: auto
  padding-top: $height--header + $container-space-top
  padding-left: $container-space-side 
  padding-right: $container-space-side 
  // padding-bottom: $container-space-btm
  @include bpMax(650px)
    padding-left: $container-space-side / 2
    padding-right: $container-space-side / 2

  // for sticky footer
  // complements: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
  min-height: 100vh
  flex-direction: column
  display: flex
.page-container-wrap
  flex: 1

